
@{
    ViewBag.Title = "Index";
}
<style>
   

    #exTab1 .tab-content {
        color: white;
        background-color: #428bca;
        padding: 5px 15px;
    }

    #exTab2 h3 {
        color: white;
        background-color: #428bca;
        padding: 5px 15px;
    }

    /* remove border radius for the tab */

    #exTab1 .nav-pills > li > a {
        border-radius: 0;
    }

    /* change border radius for the tab , apply corners on top*/

    #exTab3 .nav-pills > li > a {
        border-radius: 4px 4px 0 0;
    }

    #exTab3 .tab-content {
        color: white;
        background-color: #428bca;
        padding: 5px 15px;
    }
    /* Always set the map height explicitly to define the size of the div
    * element that contains the map. */
    #map {
        height: 400px;

    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
    }

    #infowindow-content .title {
        font-weight: bold;
    }

    #infowindow-content {
        display: none;
    }

    #map #infowindow-content {
        display: inline;
    }

    .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
     
  
    }

    #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
    }

    .pac-controls {
        display: inline-block;
        padding: 5px 11px;
    }

        .pac-controls label {
            font-family: Roboto;
            font-size: 13px;
            font-weight: 300;
        }

    #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
    }

        #pac-input:focus {
            border-color: #4d90fe;
        }

    #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
    }
</style>
<div class="row">
    <br />
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-2">
        <div class="first-row">

            <h2 class="first-login text-center">Listado de Triajes Registrados</h2>
            <hr />
        </div>
        <button data-backdrop='false' data-dismiss='modal' data-toggle='modal' data-target='#myModalTriajeE' class="btn btn-primary">Crear Triaje</button>
        <br />
        <hr />
        <div id="exTab2">
            <ul class="nav nav-tabs">
                <li class="active">
                    @Html.ActionLink("Triaje", "Index", "Triaje", new { id = "a-btn01" })
                </li>
                <li class="">
                    @Html.ActionLink("Riesgo", "Index2", "Triaje", new { id = "a-btn2" })
                </li>
                <li>
                    @Html.ActionLink("Pruebas", "Index3", "Triaje", new { id = "a-btn3" })
                </li>
                <li>
                    @Html.ActionLink("Confirmados", "Index4", "Triaje", new { id = "a-btn4" })
                </li>
                <li>
                    @Html.ActionLink("Hospitalizados", "Index5", "Triaje", new { id = "a-btn5" })
                </li>
                <li>
                    @Html.ActionLink("Recuperados", "Index6", "Triaje", new { id = "a-btn6" })
                </li>
                <li>
                    @Html.ActionLink("Fallecidos", "Index7", "Triaje", new { id = "a-btn7" })
                </li>
            </ul>

            <div class="tab-content ">
                <div class="tab-pane active" id="/Triaje/Index.cshtml">
                    <br />
                    <input onchange="BuscarDocumento();" style="float:right;" class="form-control" type="number" id="BuscaNumero" placeholder="Ingresar Numero Documento" name="BuscaNumero" />


                    <table id="id_table_e" class="table table-striped ">
                        <thead>
                            <tr style="">

                                <th width="30%">
                                    Nombres y Apellidos
                                </th>
                                <th width="20%">
                                    Departamento
                                </th>
                                <th width="20%">
                                    Nro Documento
                                </th>

                                <th width="15%">
                                    Estado
                                </th>
                                <th width="15%">

                                </th>
                            </tr>

                        </thead>
                        <tbody style=""></tbody>
                    </table>


                </div>




            </div>
        </div>


    </div>
    
    <div class="modal fade" id="myModalTriajeE"  tabindex="-1" role="dialog" aria-labelledby="myModalTriajeELongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content ">
                <div style="background-color:red" class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 style="color:white" class="modal-title">Registrar Triaje</h4>
                </div>
                <div class="modal-body ">
                    <div class="container" style="width:100%;">
                        <div class="row">
                            <div class="col-md-12">


                                <form id="formRegistrarTriaje" action="/Triaje/Index" method="post">

                                    <div class="form-group" style="">
                                        <div class="col-md-6">
                                            <label class="col-lg-4 control-label">Nombres</label>
                                            <div class="col-lg-8">
                                                <input type="text" class="form-control" id="NombresA" placeholder="Nombres" name="nombre">
                                            </div>
                                            <label style="float:left !important" for="departamento" class="col-lg-4 control-label">Departamento</label>
                                            <div class="col-lg-8">
                                                <select id="DepartamentoA" name="departamento" class="form-control">
                                                    <option class="fbra_selectOption" value="ANCASH">ANCASH</option>
                                                    <option class="fbra_selectOption" value="APURIMAC">APURIMAC</option>
                                                    <option class="fbra_selectOption" value="AREQUIPA">AREQUIPA</option>
                                                    <option class="fbra_selectOption" value="AYACUCHO">AYACUCHO</option>
                                                    <option class="fbra_selectOption" value="CAJAMARCA">CAJAMARCA</option>
                                                    <option class="fbra_selectOption" value="CUZCO">CUZCO</option>
                                                    <option class="fbra_selectOption" value="HUANCAVELICA">HUANCAVELICA</option>
                                                    <option class="fbra_selectOption" value="HUANUCO">HUANUCO</option>
                                                    <option class="fbra_selectOption" value="ICA">ICA</option>
                                                    <option class="fbra_selectOption" value="JUNIN">JUNIN</option>
                                                    <option class="fbra_selectOption" value="LA LIBERTAD">LA LIBERTAD</option>
                                                    <option class="fbra_selectOption" value="LAMBAYEQUE">LAMBAYEQUE</option>
                                                    <option class="fbra_selectOption" value="LIMA">LIMA</option>
                                                    <option class="fbra_selectOption" value="LORETO">LORETO</option>
                                                    <option class="fbra_selectOption" value="MOQUEGUA">MOQUEGUA</option>
                                                    <option class="fbra_selectOption" value="PASCO">PASCO</option>
                                                    <option class="fbra_selectOption" value="PIURA">PIURA</option>
                                                    <option class="fbra_selectOption" value="PUNO">PUNO</option>
                                                    <option class="fbra_selectOption" value="SAN MARTIN">SAN MARTIN</option>
                                                    <option class="fbra_selectOption" value="TACNA">TACNA</option>
                                                    <option class="fbra_selectOption" value="TUMBES">TUMBES</option>
                                                    <option class="fbra_selectOption" value="UCAYALI">UCAYALI</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <label style="float:left !important" for="NumeroA" class="col-lg-4 control-label">Numero Doc</label>
                                            <div class="col-lg-8">
                                                <input type="text" class="form-control" id="NumeroA" placeholder="Tipo" name="numero" maxlength="8">
                                            </div>

                                            <label class="col-lg-4 control-label">Nacionalidad</label>
                                            <div class="col-lg-8">
                                                <select name="nacionalidad" class="form-control" id="NacionalidadA">
                                                    <option value="ARGENTINA">ARGENTINA</option>
                                                    <option value="BOLIVIA">BOLIVIA</option>
                                                    <option value="CHILE">CHILE</option>
                                                    <option value="ESPAÑA">ESPAÑA</option>
                                                    <option value="VENEZUELA">VENEZUELA</option>
                                                    <option value="URUGUAY">URUGUAY</option>
                                                    <option value="PERU">PERU</option>

                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group" style="">
                                        <div class="col-md-6">

                                            <label style="float:left !important" for="Tipo" class="col-lg-4 control-label">Tipo Doc</label>
                                            <div class="col-lg-8">
                                                <select id="TipoA" name="tipo" class="form-control">
                                                    <option class="fbra_selectOption" value="DNI">DNI</option>
                                                    <option class="fbra_selectOption" value="CARNET DE EXTRANJERIA">CARNET DE EXTRANJERIA</option>
                                                    <option class="fbra_selectOption" value="Pasaporte">Pasaporte</option>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <a style="padding: 5px 10px; margin-top:15px;" href="#myModalTriajeU" role="button" data-backdrop='false' data-toggle='modal' class="btn btn-primary ">Direccion</a>

                                            <div class="col-lg-8">
                                                <input type="text" name="direccion" class="form-control" required id="DireccionA" placeholder="Direccion" disabled>
                                                <input type="hidden" class="form-control" id="LocationA" required placeholder="Location">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group" style="">
                                        <div class="col-md-12">
                                            <h3>Seleccionar sintomas</h3>
                                            <label><input type="checkbox" id="cbox1" name="check[]" value="Congestión nasal"> Congestión nasalx</label><br>
                                            <label><input type="checkbox" id="cbox2" name="check[]" value="Dificultad para respirar"> Dificultad para respirar</label><br>
                                            <label><input type="checkbox" id="cbox3" name="check[]" value="Dolor de garganta"> Dolor de garganta</label><br>
                                            <label><input type="checkbox" id="cbox4" name="check[]" value="Fiebre de ±37.7°"> Fiebre de ±37.7°</label><br>
                                            <label><input type="checkbox" id="cbox5" name="check[]" value=" Tos seca"> Tos seca</label><br>
                                            <label><input type="checkbox" id="cbox6" name="check[]" value="Sintomatologia Gastrointestinal"> Sintomatologia Gastrointestinal</label><br>

                                        </div>

                                    </div>


                                    <div class="form-group" style="padding-bottom:2rem">
                                        <div class="col-lg-offset-2 col-lg-10">
                                            <button type="submit" class="btn btn-default" onclick="Agregar();">Registrar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div style="z-index:999999" id="myModalTriajeU" class="modal" tabindex="-1" role="dialogA" aria-labelledby="myModalTriajeU">
        <div class="modal-dialog ">

            <!-- Modal content-->
            <div class="modal-content ">
                <div style="background-color:red" class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 style="color:white" class="modal-title">Registrar Triaje</h4>
                </div>
                <div class="modal-body ">
                    <div class="container" style="width:100%;">
                        <div class="row">
                            <div class="col-md-12">


                                <div class="pac-card" id="pac-card">
                                    <div>
                                        <div id="title">
                                            Buscar Direcciones
                                        </div>
                                        <div id="type-selector" class="pac-controls">
                                            <input type="radio" name="type" id="changetype-all" checked="checked">
                                            <label for="changetype-all">All</label>

                                            <input type="radio" name="type" id="changetype-establishment">
                                            <label for="changetype-establishment">Establishments</label>

                                            <input type="radio" name="type" id="changetype-address">
                                            <label for="changetype-address">Addresses</label>

                                            <input type="radio" name="type" id="changetype-geocode">
                                            <label for="changetype-geocode">Geocodes</label>
                                        </div>
                                        <div id="strict-bounds-selector" class="pac-controls">
                                            <input type="checkbox" id="use-strict-bounds" value="">
                                            <label for="use-strict-bounds">Strict Bounds</label>
                                        </div>
                                    </div>
                                    <div id="pac-container">
                                        <input id="pac-input" type="text"
                                               placeholder="Ingrese Direccion">
                                    </div>
                                </div>
                                <div id="map"></div>
                                <div id="infowindow-content">
                                    <img src="" width="16" height="16" id="place-icon">
                                    <span id="place-name" class="title"></span><br>
                                    <span id="place-address"></span>
                                    <span id="place-location"></span>
                                </div>

                                <div style="visibility:hidden" id="location-id">
                                    <span id="place-location"></span>
                                </div>
                                <br />
                                <button style="float:right;margin-right:10px;" type="submit" class="btn btn-default" onclick="Direccion();">Guardar Direccion</button>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div style="z-index:999999" id="myModalTriajeEd" class="modal" tabindex="-1" role="dialogA" aria-labelledby="myModalTriajeE">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content ">
                <div style="background-color:red" class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 style="color:white" class="modal-title">Editar Triaje</h4>
                </div>
                <div class="modal-body ">
                    <div class="container" style="width:100%;">
                        <div class="row">
                            <div class="col-md-12">


                                <form id="formEditarTriaje" action="/Triaje/Index" method="post">

                                    <div class="form-group" style="">
                                        <div class="col-md-6">
                                            <label class="col-lg-4 control-label">Nombres</label>
                                            <div class="col-lg-8">
                                                <input type="hidden" class="form-control" id="IdTriajeE" placeholder="Nombres" name="id">

                                                <input type="text" class="form-control" id="NombresE" placeholder="Nombres" name="nombreE">
                                            </div>
                                            <label style="float:left !important" for="DepartamentoE" class="col-lg-4 control-label">Departamento</label>
                                            <div class="col-lg-8">
                                                <select id="DepartamentoE" name="departamento" class="form-control">
                                                    <option class="fbra_selectOption" value="ANCASH">ANCASH</option>
                                                    <option class="fbra_selectOption" value="APURIMAC">APURIMAC</option>
                                                    <option class="fbra_selectOption" value="AREQUIPA">AREQUIPA</option>
                                                    <option class="fbra_selectOption" value="AYACUCHO">AYACUCHO</option>
                                                    <option class="fbra_selectOption" value="CAJAMARCA">CAJAMARCA</option>
                                                    <option class="fbra_selectOption" value="CUZCO">CUZCO</option>
                                                    <option class="fbra_selectOption" value="HUANCAVELICA">HUANCAVELICA</option>
                                                    <option class="fbra_selectOption" value="HUANUCO">HUANUCO</option>
                                                    <option class="fbra_selectOption" value="ICA">ICA</option>
                                                    <option class="fbra_selectOption" value="JUNIN">JUNIN</option>
                                                    <option class="fbra_selectOption" value="LA LIBERTAD">LA LIBERTAD</option>
                                                    <option class="fbra_selectOption" value="LAMBAYEQUE">LAMBAYEQUE</option>
                                                    <option class="fbra_selectOption" value="LIMA">LIMA</option>
                                                    <option class="fbra_selectOption" value="LORETO">LORETO</option>
                                                    <option class="fbra_selectOption" value="MOQUEGUA">MOQUEGUA</option>
                                                    <option class="fbra_selectOption" value="PASCO">PASCO</option>
                                                    <option class="fbra_selectOption" value="PIURA">PIURA</option>
                                                    <option class="fbra_selectOption" value="PUNO">PUNO</option>
                                                    <option class="fbra_selectOption" value="SAN MARTIN">SAN MARTIN</option>
                                                    <option class="fbra_selectOption" value="TACNA">TACNA</option>
                                                    <option class="fbra_selectOption" value="TUMBES">TUMBES</option>
                                                    <option class="fbra_selectOption" value="UCAYALI">UCAYALI</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <label style="float:left !important" for="NumeroE" class="col-lg-4 control-label">Numero Doc</label>
                                            <div class="col-lg-8">
                                                <input type="number" class="form-control" id="NumeroE" placeholder="Tipo" name="numeroE" maxlength="8">
                                            </div>

                                            <label class="col-lg-4 control-label">Nacionalidad</label>
                                            <div class="col-lg-8">
                                                <select name="nacionalidad" class="form-control" id="NacionalidadE">

                                                    <option value="ARGENTINA">ARGENTINA</option>
                                                    <option value="BOLIVIA">BOLIVIA</option>
                                                    <option value="BRASIL">BRASIL</option>
                                                    <option value="CHILE">CHILE</option>
                                                    <option value="ESPAÑA">ESPAÑA</option>
                                                    <option value="VENEZUELA">VENEZUELA</option>
                                                    <option value="URUGUAY">URUGUAY</option>
                                                    <option value="PERU">PERU</option>

                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group" style="">
                                        <div class="col-md-6">

                                            <label style="float:left !important" for="TipoA" class="col-lg-4 control-label">Tipo Doc</label>
                                            <div class="col-lg-8">
                                                <select id="TipoE" name="tipo" class="form-control">
                                                    <option class="fbra_selectOption" value="DNI">DNI</option>
                                                    <option class="fbra_selectOption" value="CARNET DE EXTRANJERIA">CARNET DE EXTRANJERIA</option>
                                                    <option class="fbra_selectOption" value="Pasaporte">Pasaporte</option>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <a style="padding: 5px 10px; margin-top:15px;" href="#myModalTriajeU" role="button" data-backdrop='false' data-toggle='modal' class="btn btn-primary ">Direccion</a>

                                            <div class="col-lg-8">
                                                <input type="text" name="direccion" class="form-control" id="DireccionE" required placeholder="Direccion" disabled>
                                                <input type="hidden" class="form-control" id="LocationE" required placeholder="Location">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group" style="">
                                        <div class="col-md-12">
                                            <h3>Seleccionar sintomas</h3>
                                            <label><input type="checkbox" id="cbox1E" name="check[]" value="Congestión nasal"> Congestión nasal</label><br>
                                            <label><input type="checkbox" id="cbox2E" name="check[]" value="Dificultad para respirar"> Dificultad para respirar</label><br>
                                            <label><input type="checkbox" id="cbox3E" name="check[]" value="Dolor de garganta"> Dolor de garganta</label><br>
                                            <label><input type="checkbox" id="cbox4E" name="check[]" value="Fiebre de ±37.7°"> Fiebre de ±37.7°</label><br>
                                            <label><input type="checkbox" id="cbox5E" name="check[]" value=" Tos seca"> Tos seca</label><br>
                                            <label><input type="checkbox" id="cbox6E" name="check[]" value="Sintomatologia Gastrointestinal"> Sintomatologia Gastrointestinal</label><br>

                                        </div>

                                    </div>


                                    <div class="form-group" style="padding-bottom:2rem">
                                        <div class="col-lg-offset-2 col-lg-10">
                                            <button type="submit" class="btn btn-default" onclick="Editar();">Editar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal -->
<!-- Modal Pruebas-->


<script type="text/javascript">
    $('.modal-child').on('show.bs.modal', function () {
    var modalParent = $(this).attr('data-modal-parent');
    $(modalParent).css('opacity', 0);
});
 
$('.modal-child').on('hidden.bs.modal', function () {
    var modalParent = $(this).attr('data-modal-parent');
    $(modalParent).css('opacity', 1);
});

    function cargaTabla() {
        $("#id_table_e tbody").empty();
            $.get("/Triaje/ListaTriaje", {}, function (data) {
                console.log(data.ObjListaTriaje);
                $.each(data.ObjListaTriaje, function (index, item) {
                    $('#id_table_e tbody').append("<tr>" +
                        "<td width=''>" + item.Nombres + "</td>" +
                        "<td width=''>" + item.Departamento + "</td>" +
                        "<td width=''>" + item.NumeroDocumento + "</td>" +
                        //"<td width=''>" + item.Address  + "</td>" +
                         "<td id='Est' width='' style='color:red'>" + item.Estado + "</td>" +

                        "<td id='"+item.IdTriaje+"' th='30% !important' >" +
                        "<a id='' style='padding: 1.5rem;' data-backdrop='false' data-dismiss='modal' data-toggle='modal' data-target='#myModalTriajeEd' onclick='Obtener(" + item.IdTriaje + ")'><span class='glyphicon glyphicon-pencil'></span></a>" +

                        "<a id='' onclick='Delete(" + item.IdTriaje + ","+ JSON.stringify(item.Nombres) + ")'><span class='glyphicon glyphicon-trash'></span></a>" +
                        "</td>" +
                        "</tr>");

                    if (item.Estado == "Evaluacion          " ||
                        item.Estado == "Fallecido           " ||
                        item.Estado == "Hospitalizado       " ||
                        item.Estado == "Recuperado          " ||
                        item.Estado == "Confirmado          "||
                          item.Estado == "Con Riesgo          "
                    ) {
                        $("#" + item.IdTriaje + " a:first-child").remove();
                        $("#" + item.IdTriaje + " a:last-child").remove();
                        
                     }
                });

            });
    }

         function BuscarDocumento() {
         var pDocumento=$("#BuscaNumero").val();
         $("#id_table_e tbody").empty();
            $.get("/Triaje/BuscarTriajePorNroDocumento?pDocumento="+pDocumento, {}, function (data) {
                console.log(data.ObjListaTriaje);
                $.each(data.ObjListaTriaje, function (index, item) {
                    $('#id_table_e tbody').append("<tr>" +
                        "<td width=''>" + item.Nombres + "</td>" +
                        "<td width=''>" + item.Departamento + "</td>" +
                        "<td width=''>" + item.NumeroDocumento + "</td>" +
                        //"<td width=''>" + item.Address  + "</td>" +
                         "<td  width='' style='color:red'>" + item.Estado + "</td>" +

                        "<td id='" + item.IdTriaje + "' width='30% !important' >" +

                        "<a id='' style='padding: 1.5rem;' data-backdrop='false' data-dismiss='modal' data-toggle='modal' data-target='#myModalTriajeEd' onclick='Obtener(" + item.IdTriaje + ")'><span class='glyphicon glyphicon-pencil'></span></a>" +

                        "<a onclick='Delete(" + item.IdTriaje + ","+ JSON.stringify(item.Nombres) + ")'><span class='glyphicon glyphicon-trash'></span></a>" +
                        "</td>" +
                        "</tr>");


                    if (item.Estado == "Evaluacion          " ||
                        item.Estado == "Fallecido           " ||
                        item.Estado == "Hospitalizado       " ||
                        item.Estado == "Recuperado          " ||
                        item.Estado == "Confirmado          " ||
 
                        item.Estado == "Con Riesgo          "
                    ) {
                       $("#" + item.IdTriaje + " a:first-child").remove();
                        $("#" + item.IdTriaje + " a:last-child").remove();
                     }

                });

            });


    }
    function Delete(id,nombre) {
        if (confirm('Desea eliminar a?'+nombre) == true) {
            $.ajax({
                url: "/Triaje/Elimina?pCodigoTriaje=" + id,
                data: id,               /*aqui envias los valores a tu archivo*/
                dataType: 'json',
                type: 'post',
                cache: false,
                success: function (response) {

                        window.location.href = '@Url.Action("Index","Triaje")';

                }
            });
        }
    }

    function Detalle() {
    }


    function Direccion() {
        var loc = $("#location-id #place-location").text();
        var address= $("#infowindow-content #place-address").text();

        var regex  = /\((\d)?([^)]*)\)/g,
    reempl = {
        punto: ".",
        nums:  "",
        alnum: ""
    },
    
    texto  = loc;
    
//Reemplazar puntos por $p
texto = texto.replace(/\./g, reempl.punto);

//Reemplazar paréntesis
texto = texto.replace(regex, function (match, grupo1, grupo2) {
    if (grupo1) { //empieza por número (porque el primer grupo coincidió)
        //reemplazar por $l seguido del contenido de ambos grupos
        return reempl.nums + grupo1 + grupo2;
        
    } else {      //no empieza por número
        //reemplazar por $g seguido del contenido del segundo grupo
        return reempl.alnum + grupo2;
    }
});
 
        $("#DireccionA").val(address);
        $("#LocationA").val(texto);
        $("#myModalTriajeU").modal('hide');

    }

    $("#formRegistrarTriaje").submit(function (ev) { ev.preventDefault(); });
    function Agregar() {
        var a = $("#LocationA").val();
        var texto = a;
        
       
        var textoseparado = texto.split(",");
        var lat = textoseparado[0];
        var log = textoseparado[1];

       
             var datos = {
                 pTipoTransaccion :'N',
                 Nombres:$("#NombresA").val(),
                 Nacionalidad:$("#NacionalidadA").val(),
                 Departamento:$("#DepartamentoA").val(),
                 TipoDocumento:$("#TipoA").val(),
                 NumeroDocumento:$("#NumeroA").val(),
                 Respuesta1:$("#cbox1:checked").val(),
                 Respuesta2:$("#cbox2:checked").val(),
                 Respuesta3:$("#cbox3:checked").val(),
                 Respuesta4:$("#cbox4:checked").val(),
                 Respuesta5:$("#cbox5:checked").val(),
                 Respuesta6:$("#cbox6:checked").val(),
                 Latitud:lat,
                 Longitud:log

                };
            $.ajax({
                url: "/Triaje/RegistraModifica",
                data: datos,               /*aqui envias los valores a tu archivo*/
                dataType: 'json',
                type: 'post',
                cache: false,
                success: function (data) {
                $("#myModalTriajeE").modal('hide');
                cargaTabla();
                    limpiarDatos();
                console.log("data"+data.TipoDocumento);
                    alert("Se registro");
                },
                error: function(){
    alert('error!');
  }
            });
    }
    function limpiarDatos() {
        $("#NombresE").val('');
            
            $("#NacionalidadE").val('');
 
            $("#DepartamentoE").val('');
            $("#TipoE").val('');
        $("#NumeroE").val('');
          $("#DireccionA").val('');
        $('#IdTriajeE').val('');

        $("#NombresA").val('');
            
            $("#NacionalidadA").val('');
 
            $("#DepartamentoA").val('');
            $("#TipoA").val('');
        $("#NumeroA").val('');
          $("#DireccionE").val('');
    }
    function Obtener(id) {
        $.get("/Triaje/ListarKey?pCodigoTriaje=" + id, {}, function (data) {
            console.log(data.ObjTriaje);
            var item = data.ObjTriaje;
            $("#NombresE").val(item.Nombres);
            
            $("#NacionalidadE").val(item.Nacionalidad);
 
            $("#DepartamentoE").val(item.TipoDocumento);
            $("#TipoE").val(item.Departamento);
            $("#NumeroE").val(item.NumeroDocumento);
            if(item.Respuesta1!='')
            $("#cbox1E").prop("checked", true);  
            if(item.Respuesta2!='')
                $("#cbox2E").prop("checked", true);  
            if(item.Respuesta3!='')
                $("#cbox3E").prop("checked", true);  
            if(item.Respuesta4!='')
                $("#cbox4E").prop("checked", true);  
            if(item.Respuesta5!='')
                $("#cbox5E").prop("checked", true);  
            if(item.Respuesta6!='')
                $("#cbox6E").prop("checked", true); 
             //$("#DireccionA").val(item.IdMapa);
            $('#IdTriajeAE').val(item.IdTriaje);


        });

    }
       $("#formEditarTriaje").submit(function (ev) { ev.preventDefault(); });
    function Editar() {
        var a = $("#LocationA").val();
        var texto = a;
        
       
        var textoseparado = texto.split(",");
        var lat = textoseparado[0];
        var log = textoseparado[1];
 
  var m = document.getElementById("NombresE").value;
  var expreg = new RegExp("^[a-z-A-ZáéíóúÁÉÍÓÚÑñäÄëËïÏöÖüÜ ]{3,20}$");

        if (expreg.test(m) ) {
            
             var datos = {
                 pTipoTransaccion: 'A',
                 IdTriaje:$("#IdTriajeE").val(),
                 Nombres:$("#NombresE").val(),
                 Nacionalidad:$("#NacionalidadE").val(),
                 Departamento:$("#DepartamentoE").val(),
                 TipoDocumento:$("#TipoE").val(),
                 NumeroDocumento:$("#NumeroE").val(),
                 Respuesta1:$("#cbox1E:checked").val(),
                 Respuesta2:$("#cbox2E:checked").val(),
                 Respuesta3:$("#cbox3E:checked").val(),
                 Respuesta4:$("#cbox4E:checked").val(),
                 Respuesta5:$("#cbox5E:checked").val(),
                 Respuesta6:$("#cbox6E:checked").val(),
                 Latitud:lat,
                 Longitud:log

                };
            $.ajax({
                url: "/Triaje/RegistraModifica",
                data: datos,               /*aqui envias los valores a tu archivo*/
                dataType: 'json',
                type: 'post',
                cache: false,
                success: function (data) {
                $("#myModalTriajeEd").modal('hide');
                cargaTabla();
                    limpiarDatos();
                console.log("data"+data.TipoDocumento);
                       alert("Se Edito");
                },
                error: function(){
    alert('error!');
  }
            });
        }

  else
    alert("datos Incorrecto");

       
     } 


        function Delete(id, nombre) {
        if (confirm('Desea eliminar a ' + nombre + ' ?') == true) {
            $.ajax({
                url: "/Triaje/Elimina?pCodigoTriaje=" + id,
                data: id,               /*aqui envias los valores a tu archivo*/
                dataType: 'json',
                type: 'post',
                cache: false,
                success: function (response) {
                    cargaTabla();

                }
            });
        }
    }

    $('#PositivoCheckbox').click(function () {
         $('#RegistrarConfirmado').prop('disabled', false);
        RegistrarConfirmado();
    });
       $('#NegativoCheckbox').click(function () {
         $('#RegistrarConfirmado').prop('disabled', false);
        RegistrarConfirmado();
    });





    $(document).ready(function () {
         $("#id_table_e tbody").empty();
            $.get("/Triaje/ListaTriaje", {}, function (data) {
                console.log(data.ObjListaTriaje);
                $.each(data.ObjListaTriaje, function (index, item) {
                    $('#id_table_e tbody').append("<tr>" +
                        "<td width=''>" + item.Nombres + "</td>" +
                        "<td width=''>" + item.Departamento + "</td>" +
                        "<td width=''>" + item.NumeroDocumento + "</td>" +
                        //"<td width=''>" + item.Address  + "</td>" +
                         "<td id='Est' width='' style='color:red'>" + item.Estado + "</td>" +

                        "<td id='"+item.IdTriaje+"' th='30% !important' >" +
                        "<a id='' style='padding: 1.5rem;' data-backdrop='false' data-dismiss='modal' data-toggle='modal' data-target='#myModalTriajeEd' onclick='Obtener(" + item.IdTriaje + ")'><span class='glyphicon glyphicon-pencil'></span></a>" +

                        "<a id='' onclick='Delete(" + item.IdTriaje + ","+ JSON.stringify(item.Nombres) + ")'><span class='glyphicon glyphicon-trash'></span></a>" +
                        "</td>" +
                        "</tr>");

                    if (item.Estado == "Evaluacion          " ||
                        item.Estado == "Fallecido           " ||
                        item.Estado == "Hospitalizado       " ||
                        item.Estado == "Recuperado          " ||
                        item.Estado == "Confirmado          " ||
                        item.Estado == "Con Riesgo          "
                    ) {
                        $("#" + item.IdTriaje + " a:first-child").remove();
                        $("#" + item.IdTriaje + " a:last-child").remove();
                     }
                });

            });
               function RegistrarConfirmado() {


            var datos = {

                    IdTriaje: $("#IdTriaje").val(),
                    CasosConfirmados: $('input:radio[name=check]:checked').val()

                };
            $.ajax({
                url: "/Cifras/RegistraConfirmado",
                data: datos,               /*aqui envias los valores a tu archivo*/
                dataType: 'json',
                type: 'post',
                cache: false,
                success: function (data) {



                }
            });


    }
             $(function () {
                $("#btn-prueba").on("click", function (e) {

                    if ($('#sidebar').hasClass('active')){
                     e.preventDefault();
                     var url = "/Triaje/Index2"
                    $.get(url).done(function (result) {
                        $("body").html(result);
                        $('#sidebar').addClass('active');

                    });
                       history.pushState(null, "",url);
                    }else{
                    e.preventDefault();
                    var url = "/Triaje/Index2"
                    $.get(url).done(function (result) {
                        $("body").html(result);
                        $('#sidebar').removeClass('active');
                    });
                       history.pushState(null, "",url);
                       }
                });
             });
        function HabilitarSideBar(e,href) {
               if ($('#sidebar').hasClass('active')){
                     e.preventDefault();
                    var url =href;
                    $.get(url).done(function (result) {
                        $("body").html(result);
                        $('#sidebar').addClass('active');

                    });
                       history.pushState(null, "",url);
               }else{
                    e.preventDefault();
                    var url =href;
                    $.get(url).done(function (result) {
                        $("body").html(result);
                        $('#sidebar').removeClass('active');
                    });
                      history.pushState(null, "",url);
               }

        }


        $("#a-btn01").on("click", function (e) {
                var url=$(this).attr("href");
                    HabilitarSideBar(e,url);

                });



            $(function () {
                $("#a-btn2").on("click", function (e) {
                    var url=$(this).attr("href");
                    HabilitarSideBar(e,url);

                });
            });


             $(function () {
                $("#a-btn3").on("click", function (e) {
                     var url=$(this).attr("href");
                    HabilitarSideBar(e,url);

                });
             });


            $(function () {
                $("#a-btn4").on("click", function (e) {
                     var url=$(this).attr("href");
                    HabilitarSideBar(e,url);

                });
            });


              $(function () {
                $("#a-btn5").on("click", function (e) {
                    var url=$(this).attr("href");
                    HabilitarSideBar(e,url);

                });
              });


                $(function () {
                $("#a-btn6").on("click", function (e) {
  var url=$(this).attr("href");
                    HabilitarSideBar(e, url);


                });
                });

              $(function () {
                $("#a-btn7").on("click", function (e) {
                       var url=$(this).attr("href");
                    HabilitarSideBar(e,url);

                });

             });
     });



</script>

<script type="text/javascript">
    // This example requires the Places library. Include the libraries=places
    // parameter when you first load the API. For example:
    // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: -12.0431800, lng: -77.0282400 },
            zoom: 6
        });
        var card = document.getElementById('pac-card');
        var input = document.getElementById('pac-input');
        var types = document.getElementById('type-selector');
        var strictBounds = document.getElementById('strict-bounds-selector');

        map.controls[google.maps.ControlPosition.TOP_RIGHT].push(card);

        var autocomplete = new google.maps.places.Autocomplete(input);

        // Bind the map's bounds (viewport) property to the autocomplete object,
        // so that the autocomplete requests use the current map bounds for the
        // bounds option in the request.
        autocomplete.bindTo('bounds', map);

        // Set the data fields to return when the user selects a place.
        autocomplete.setFields(
            ['address_components', 'geometry', 'icon', 'name']);

        var infowindow = new google.maps.InfoWindow();
        var infowindowContent = document.getElementById('infowindow-content');
        var infowindowContentLocation = document.getElementById('location-id');
        
        infowindow.setContent(infowindowContent);
        var marker = new google.maps.Marker({
            map: map,
            anchorPoint: new google.maps.Point(0, -29)
        });

        autocomplete.addListener('place_changed', function () {
            infowindow.close();
            marker.setVisible(false);
            var place = autocomplete.getPlace();
            if (!place.geometry) {
                // User entered the name of a Place that was not suggested and
                // pressed the Enter key, or the Place Details request failed.
                window.alert("No details available for input: '" + place.name + "'");
                return;
            }

            // If the place has a geometry, then present it on a map.
            if (place.geometry.viewport) {
                map.fitBounds(place.geometry.viewport);
            } else {
                map.setCenter(place.geometry.location);
                map.setZoom(17);  // Why 17? Because it looks good.
            }
            marker.setPosition(place.geometry.location);
            marker.setVisible(true);

            var address = '';
            if (place.address_components) {
                address = [
                    (place.address_components[0] && place.address_components[0].short_name || ''),
                    (place.address_components[1] && place.address_components[1].short_name || ''),
                    (place.address_components[2] && place.address_components[2].short_name || '')
                ].join(' ');
            }
            var place1 = autocomplete.getPlace();
            infowindowContent.children['place-icon'].src = place.icon;
            infowindowContent.children['place-name'].textContent = place.name;
            infowindowContent.children['place-address'].textContent = address;
            infowindowContentLocation.children['place-location'].textContent = place.geometry.location;
            infowindow.open(map, marker);
  
            
        });

        // Sets a listener on a radio button to change the filter type on Places
        // Autocomplete.
        function setupClickListener(id, types) {
            var radioButton = document.getElementById(id);
            radioButton.addEventListener('click', function () {
                autocomplete.setTypes(types);
            });
        }

        setupClickListener('changetype-all', []);
        setupClickListener('changetype-address', ['address']);
        setupClickListener('changetype-establishment', ['establishment']);
        setupClickListener('changetype-geocode', ['geocode']);

        document.getElementById('use-strict-bounds')
            .addEventListener('click', function () {
                console.log('Checkbox clicked! New state=' + this.checked);
                autocomplete.setOptions({ strictBounds: this.checked });
            });
    }

 
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDC-w2WPpFKxahplvlItRGHZ5cuK2fUeZI&libraries=places&callback=initMap"
        async defer></script>
<script type="text/javascript">
  
    $('#formRegistrarTriaje').bootstrapValidator({
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            "nombre": {
                selector: '#NombresA',
                validators: {
                    notEmpty: {
                        message: 'El nombre es un campo obligatorio'
                    },
                    stringLength: {
                        message: 'El nombre es de 3 a 100 caracteres',
                        min: 5,
                        max: 100
                    },regexp: {
                       regexp: /^[a-z-A-ZáéíóúÁÉÍÓÚÑñäÄëËïÏöÖüÜ ]{3,20}$/,
                        message: 'datos incorrectos '
                    }
                  
                }
            },
              "departamento": {
                selector: '#DepartamentoA',
                validators: {
                    notEmpty: {
                        message: 'El departamento es un campo obligatorio'
                    }
                }
              },
                "nacionalidad": {
                selector: '#NacionalidadA',
                validators: {
                    notEmpty: {
                        message: 'La nacionalidad es un campo obligatorio'
                    }

                }
            },
                 "tipo": {
                selector: '#TipoA',
                validators: {
                    notEmpty: {
                        message: 'El tipo es un campo obligatorio'
                    }

                }
            },
                  "numero": {
                selector: '#NumeroA',
                validators: {
                    notEmpty: {
                        message: 'El numero es un campo obligatorio'
                    },
                    regexp: {
                        regexp: /^([XYZ]{1}[0-9]{7})|([0-9]{8})$/i,
                        message: 'datos incorrectos '
                    }

                }
            },
            "check[]": {
               
                validators: {
                   choice: {
                        min: 2,
                        max: 6,
                        message: 'Seleccione 2 - 6 sintomas'
                    }

                }
            },



        }
    });

    $('#formEditarTriaje').bootstrapValidator({
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            "nombreE": {
                selector: '#NombresE',
                validators: {
                    notEmpty: {
                        message: 'El nombre es un campo obligatorio'
                    },
                    stringLength: {
                        message: 'El nombre es de 3 a 100 caracteres',
                        min: 5,
                        max: 100
                    },regexp: {
                       regexp: /^[a-z-A-ZáéíóúÁÉÍÓÚÑñäÄëËïÏöÖüÜ ]{5,20}$/,
                        message: 'datos incorrectos '
                    }
                  
                }
            },
              "departamento": {
                selector: '#DepartamentoE',
                validators: {
                    notEmpty: {
                        message: 'El departamento es un campo obligatorio'
                    }
                }
              },
                "nacionalidad": {
                selector: '#NacionalidadE',
                validators: {
                    notEmpty: {
                        message: 'La nacionalidad es un campo obligatorio'
                    }

                }
            },
                 "tipoE": {
                selector: '#TipoE',
                validators: {
                    notEmpty: {
                        message: 'El tipo es un campo obligatorio'
                    }

                }
            },
                  "numero": {
                selector: '#Numero',
                validators: {
                    notEmpty: {
                        message: 'El numero es un campo obligatorio'
                    },
                    regexp: {
                        regexp: /^([XYZ]{1}[0-9]{7})|([0-9]{8})$/i,
                        message: 'datos incorrectos '
                    }

                }
            },
            "check[]": {
               
                validators: {
                   choice: {
                        min: 2,
                        max: 6,
                        message: 'Seleccione 2 - 6 sintomas'
                    }

                }
            },



        }
    });
</script>