@using Covid19v3.Models

<!DOCTYPE html>
<html style="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
   
    @Scripts.Render("~/bundles/bootstrap")

    @Styles.Render("~/Content/css")



    @RenderSection("scripts", required: false)
    <style>
        body {
        padding-right:0px !important
        }
    </style>
</head>

<body style="">
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header" style="background-color:#fafafa">
                <svg height="50" viewBox="0 0 200 50" width="200" id="svg2" version="1.1" inkscape:version="0.91 r" sodipodi:docname="logo-white.svg">
                    <g id="g16" style="fill:none;fill-rule:evenodd" transform="translate(-16.125799,12.131785)">
                        <g transform="matrix(1.5654206,0,0,1.5894043,15.928871,-12.783262)" id="g20" style="fill:#372f2f;fill-rule:evenodd">
                            <g id="g22">
                                <path d="m 0.12579907,8.1618462 0,6.0365128 0,6.036923 c 0,1.908103 0.47806151,3.438359 1.08555453,4.761436 0.5845294,1.284102 0.9331594,1.681231 1.7306244,2.696615 1.1456775,1.459282 3.38526,2.914052 5.2899907,3.542564 2.8011483,0.930872 5.9505093,0.850052 8.6606373,-0.349538 0.326084,-0.141539 0.630039,-0.302359 0.971571,-0.472205 3.407807,-1.657846 6.186409,-5.909334 6.186409,-9.683282 l 0,-6.390975 0,-6.395897 c 0,-0.8258462 -0.858423,-1.7001026 -1.951076,-1.7001026 l -9.973741,0 -9.9733231,0 c -1.1010028,0 -2.02664683,0.8406154 -2.02664683,1.9179487 z m 2.81617893,8.0959998 18.292429,0 0,-7.1753845 -18.292429,0 z m 0,3.835077 0,-1.28 18.292429,0 c 0,1.072821 0.09853,2.829128 -0.364496,3.764923 l -17.6319106,0 C 3.1691094,21.779487 2.941978,21.547692 2.941978,20.092923 Z m 1.5181062,5.044923 15.1881598,0 c -0.09102,0.326154 -1.002467,1.32718 -1.222501,1.502359 -0.280574,0.221539 -0.455515,0.387282 -0.75112,0.604308 -2.945193,2.163282 -7.195974,2.43241 -10.3077578,0.576 C 6.137266,27.088615 5.2491989,26.290667 4.4600842,25.137846 Z" id="path24" inkscape:connector-curvature="0"></path>
                                <path d="m 0.27706692,1.9940513 c 0,1.0252308 0.75153778,1.681641 1.68511458,1.7620513 C 3.305764,3.8689231 4.4063493,2.0838974 3.2982486,0.87897436 3.0022263,0.55323077 2.5922207,0.38830769 2.1667668,0.35466667 l -0.2425797,0 C 1.0816298,0.41620513 0.27706692,1.0020513 0.27706692,1.9940513" mask="url(#a)" transform="translate(2.087605,0.055385)" id="path26" inkscape:connector-curvature="0"></path>
                                <path d="m 0.20082759,1.923159 c 0,1.7571282 1.86715381,2.3195897 2.91429631,1.3698461 1.123549,-1.0203077 0.3649134,-2.93825638 -1.0321118,-2.93825638 -0.6145909,0 -0.9795042,0.0475897 -1.43418451,0.52020513 -0.2050028,0.21210255 -0.448,0.65599995 -0.448,1.04820515" mask="url(#b)" transform="translate(7.515377,0.055385)" id="path28" inkscape:connector-curvature="0"></path>
                                <path d="m 0.12396198,1.8524308 c 0,0.8266666 0.22796645,1.4453333 1.07762162,1.776 C 2.5906759,4.1712 3.9947989,2.7734564 3.4486814,1.4274051 3.1681074,0.73284103 2.6061241,0.40668718 2.0140794,0.35458462 l -0.3039553,0 C 0.89053048,0.42596923 0.12396198,1.0019692 0.12396198,1.8524308" mask="url(#c)" transform="translate(12.94315,0.055385)" id="path30" inkscape:connector-curvature="0"></path>
                                <path d="m 2.1273946,3.7702974 c 0.4475825,0 0.9636384,-0.2785641 1.214151,-0.5103589 C 4.0170945,2.6363487 4.0170945,1.5405539 3.410019,0.87922051 3.1139966,0.55798974 2.7039911,0.38814359 2.2864701,0.35450256 l -0.2505126,0 C 1.170854,0.41604103 0.34374501,1.0539897 0.41180093,2.1264 0.4648261,3.0802462 1.2848373,3.7702974 2.1273946,3.7702974" mask="url(#d)" transform="translate(17.953402,0.055385)" id="path32" inkscape:connector-curvature="0"></path>
                            </g>
                            <path d="m 56.149066,14.685905 -1.987004,0 c 0,-3.554787 -0.208209,-3.034202 0.715343,-3.159447 0.615884,-0.08168 2.04657,0.06861 2.434025,0.589197 0.348108,0.470486 0.54648,2.57025 -1.162364,2.57025 z M 55.9108,22.880211 c 2.493044,-0.08114 5.165881,-0.676324 5.165881,-3.761713 0,-1.197454 -0.318052,-2.927472 -1.520309,-3.203011 l 0,-0.188957 c 0.944318,-0.250491 1.043778,-2.425946 1.043778,-3.209546 0,-3.003163 -2.950995,-3.5798357 -5.96101,-3.5798357 -0.735016,0 -1.638895,0.024505 -2.324728,0.1317798 -0.834476,0.1252453 -1.271114,0.2624705 -1.271114,1.1914639 l 0,11.403851 c 0,1.15988 1.112088,1.215968 2.274452,1.215968 z M 56.149066,20.341 c -1.231221,0 -1.987004,0.182423 -1.987004,-0.281529 l 0,-3.110439 c 1.808851,0 3.835201,-0.401329 3.835201,1.79373 0,1.103247 -0.735016,1.598238 -1.848197,1.598238 z" id="path34" inkscape:connector-curvature="0"></path>
                            <path d="m 78.213983,9.908398 c 0,1.868332 -0.159026,11.568304 0.07979,12.58987 0.764526,0.181878 1.659115,0.09366 2.464081,0.09366 0.794036,0 0.566154,-0.65182 0.566154,-2.155852 l 0,-2.822375 c 0.685286,0.05718 0.287995,0.194947 1.131761,0 0.675996,1.298195 1.361283,2.596389 2.047116,3.887504 0.69567,1.379331 0.397291,1.090723 3.34774,1.090723 0.258485,0 0.258485,-0.04356 0.477077,-0.09366 0,-0.983992 -2.49359,-4.470711 -2.752076,-5.542374 0.536644,-0.125246 1.261824,-0.752017 1.560202,-1.178939 0.784746,-1.127752 0.714797,-1.660861 0.714797,-2.953065 0,-5.1595601 -8.236009,-4.0813619 -9.139887,-3.7301306 -0.307669,0.1252452 -0.496751,0.4389029 -0.496751,0.8146386 m 3.298556,5.072432 -0.287995,0 0,-3.096824 c 0,-0.313658 0.15848,-0.257025 0.446475,-0.307123 1.24215,-0.219996 2.961378,0.0245 2.961378,1.529625 0,0.658355 0,1.504577 -1.033395,1.793185 -0.884752,0.237966 -1.191874,0.08114 -2.086463,0.08114" id="path36" inkscape:connector-curvature="0"></path>
                            <path d="m 104.69031,9.6893277 0,12.6334333 c 0,0.219996 0.25794,0.476477 0.47653,0.476477 l 8.03709,0 c 0.60605,0 0.37762,-1.266611 0.37762,-2.551736 0,-0.219451 -0.14865,-0.37628 -0.37762,-0.37628 l -5.2954,0 0,-2.733614 c 1.09351,0 3.73574,0.113265 4.63962,-0.09366 0.16887,-0.721521 0.0891,-1.304184 0.0891,-2.169465 0,-0.219452 -0.15848,-0.37628 -0.37653,-0.37628 l -4.35217,0 0,-2.639408 c 1.15253,0 4.29206,0.119255 5.20632,-0.09421 0.16887,-0.727511 0.0891,-1.391311 0.0891,-2.2631271 0,-0.219996 -0.14919,-0.3768249 -0.37707,-0.3768249 l -7.75948,0 c -0.28799,0 -0.37707,0.2760841 -0.37707,0.5646927" id="path38" inkscape:connector-curvature="0"></path>
                            <path d="m 65.140365,9.6893277 c 0,1.9118963 -0.149189,11.9750793 0.09946,13.0097133 0.784746,0.181334 7.907574,0.181334 8.702703,0 0.178153,-0.75855 0.08908,-1.655415 0.08908,-2.451539 0,-0.219452 -0.149189,-0.37628 -0.377618,-0.37628 l -5.394309,0 0,-2.733614 c 1.103344,0 3.834654,0.118711 4.738533,-0.09366 0.168862,-0.721521 0.08962,-1.304184 0.08962,-2.169465 0,-0.219452 -0.159025,-0.37628 -0.377618,-0.37628 l -4.450537,0 0,-2.639408 4.738533,0 c 0.894588,0 0.655776,-0.759095 0.655776,-2.1694653 0,-0.2886086 -0.07924,-0.5646927 -0.377071,-0.5646927 l -7.759478,0 c -0.287995,0 -0.377071,0.2760841 -0.377071,0.5646927" id="path40" inkscape:connector-curvature="0"></path>
                            <path d="m 28.540595,15.34426 c 0,2.326294 0.348108,3.811811 2.047116,5.49282 1.430686,1.422895 2.979959,1.974519 4.401355,2.043131 l 0.724633,0 c 2.493044,-0.125245 4.450537,-1.591703 4.450537,-2.06219 0,-0.282618 -0.62572,-0.771075 -0.824639,-0.965477 -1.509379,-1.505121 -0.70496,-0.877806 -2.284835,-0.345241 -2.970668,1.003595 -5.21561,-1.215968 -5.21561,-3.310287 l 0,-0.658354 c 0,-2.783712 2.612177,-4.269229 5.195937,-3.291227 1.281497,0.489001 0.903879,1.084188 2.116519,-0.357766 0.198372,-0.237966 0.824093,-0.6638 0.824093,-0.970923 0,-0.432913 -1.172201,-1.172949 -1.579329,-1.3488369 -1.778794,-0.758006 -4.431411,-0.7710751 -6.179056,0.1192553 -1.88809,0.9534976 -3.676721,3.3609286 -3.676721,5.6550956" id="path42" inkscape:connector-curvature="0"></path>
                            <path d="m 116.61146,15.821281 c 0,4.319871 2.97066,6.764876 6.12003,7.05893 l 1.36074,0 c 0.71534,-0.06262 1.43068,-0.243956 2.08646,-0.545089 0.5361,-0.23851 1.7083,-0.865281 1.7083,-1.517101 0,-0.300588 -1.5296,-1.699523 -1.80776,-1.887391 -0.97383,0.50806 -1.2416,0.846767 -2.56299,0.846767 -4.77843,0 -4.63962,-7.824561 -0.4667,-7.824561 3.10948,0 2.41381,1.892837 3.86417,0.08114 0.3481,-0.432913 0.57653,-0.488456 0.86453,-1.021565 -0.97328,-1.8438282 -3.22861,-1.981598 -5.20578,-1.981598 -3.31823,0 -5.96101,3.191031 -5.96101,6.790471" id="path44" inkscape:connector-curvature="0"></path>
                            <path d="m 90.880965,9.6893277 c 0,2.7270793 -0.655777,2.1694653 3.496382,2.1694653 0,1.698435 -0.138259,9.836653 0.100006,10.840248 0.764526,0.181334 1.659662,0.100197 2.453698,0.100197 0.287995,0 0.566154,-0.08767 0.566154,-0.382815 l 0,-10.55763 3.129145,0 c 0.59621,0 0.37762,-1.1479 0.37762,-2.3573331 0,-0.219996 -0.15903,-0.3768249 -0.37762,-0.3768249 l -9.368314,0 c -0.297285,0 -0.377071,0.2760841 -0.377071,0.5646927" id="path46" inkscape:connector-curvature="0"></path>
                            <path d="m 43.383061,9.3694623 0,12.6900657 c 0,0.821173 0.655777,0.563604 2.74224,0.563604 0.218046,0 0.377618,-0.156284 0.377618,-0.375736 l 0,-12.8779337 c 0,-0.6202363 -1.380956,-0.3762803 -2.74224,-0.3762803 -0.218045,0 -0.377618,0.1573734 -0.377618,0.3762803" id="path48" inkscape:connector-curvature="0"></path>
                        </g>
                    </g>
                </svg>
            </div>
            <ul class="list-unstyled components">
                @if (User.Identity.IsAuthenticated)

                {
                    if (Session["CuentaUsuario"] != null)
                    {
                        foreach (var user in (List
                        <CuentaUsuario>)Session["CuentaUsuario"])
                        {


                            <li class="active">
                                <a href="#">
                                    <span class="v-icon notranslate v-icon--svg theme--light" style="        margin-right: 30px;
">
                                        <svg viewBox="0 0 24 24" height="24" width="24" role="img" aria-hidden="true">
                                            <path d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z"></path>
                                        </svg>
                                    </span> Home
                                    
                                </a>
                            </li>

                            <li>
                                <a id="a-btnMaps" href="../Maps/Index">
                                    <span class="v-icon notranslate v-icon--svg theme--light" style="margin-right:30px;color: #f44336!important;
    caret-color: #f44336!important;">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="24" width="24" role="img" aria-hidden="true">
                                            <path d="M12,2C15.31,2 18,4.66 18,7.95C18,12.41 12,19 12,19C12,19 6,12.41 6,7.95C6,4.66 8.69,2 12,2M12,6A2,2 0 0,0 10,8A2,2 0 0,0 12,10A2,2 0 0,0 14,8A2,2 0 0,0 12,6M20,19C20,21.21 16.42,23 12,23C7.58,23 4,21.21 4,19C4,17.71 5.22,16.56 7.11,15.83L7.75,16.74C6.67,17.19 6,17.81 6,18.5C6,19.88 8.69,21 12,21C15.31,21 18,19.88 18,18.5C18,17.81 17.33,17.19 16.25,16.74L16.89,15.83C18.78,16.56 20,17.71 20,19Z"></path>
                                        </svg>
                                    </span> Mapeo de Riesgo

                                </a>
                            </li>
                            <li>
                                <a id="a-btnTriaje" href="/Triaje/Index">
                                    <span class="v-icon notranslate v-icon--svg theme--light" style="margin-right:30px;color:  !important;
    caret-color: #f44336!important;">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="16pt" height="16pt">
                                        <circle style="fill:#004EB0;" cx="256" cy="256" r="256" />

                                        <path style="fill:#002D6B;" d="M511.939,260.846L418.34,167c-5.08-5.672-12.456-9.244-20.67-9.244h-2.701l-7.668-8.488  c-1.154-1.312-2.843-2.143-4.718-2.143h-4.622l-60.238-60.27C312.4,81.396,304.976,78,296.769,78h-81.538  c-16.152,0-29.293,13.141-29.293,29.293v26.1l6.677,5.124v19.239h-21.887l-7.56-8.361c-1.156-1.385-2.892-2.27-4.826-2.27h-28.925  c-3.464,0-6.298,2.834-6.298,6.298v4.333h-8.789c-15.326,0-27.75,12.424-27.75,27.75v187.078c0,6.657,2.346,12.763,6.255,17.544  l117.991,117.898C225.49,510.636,240.586,512,256,512C395.765,512,509.353,399.993,511.939,260.846z" />

                                        <path style="fill:#C8C6CC;" d="M164.64,153.422c0-3.464-2.834-6.298-6.298-6.298h-28.925c-3.464,0-6.298,2.834-6.298,6.298v7.739  h41.521V153.422z" />

                                        <path style="fill:#8B8992;" d="M388.881,153.422c0-3.464-2.834-6.298-6.298-6.298h-28.925c-3.464,0-6.298,2.834-6.298,6.298v7.739  h41.521V153.422z" />

                                        <rect x="192.62" y="131.56" style="fill:#C8C6CC;" width="21.4" height="29.92" />

                                        <rect x="297.99" y="131.56" style="fill:#8B8992;" width="21.4" height="29.92" />

                                        <path style="fill:#FFFFFF;" d="M397.67,400.333H114.33c-15.326,0-27.75-12.424-27.75-27.75V185.505  c0-15.326,12.424-27.75,27.75-27.75h283.34c15.326,0,27.75,12.424,27.75,27.75v187.078  C425.42,387.909,412.996,400.333,397.67,400.333z" />

                                        <path style="fill:#C8C6CC;" d="M425.42,185.51v187.07c0,15.33-12.42,27.75-27.75,27.75H256V157.76h141.67  C413,157.76,425.42,170.18,425.42,185.51z" />

                                        <polygon style="fill:#E02424;" points="280.692,254.353 280.692,204.385 231.308,204.385 231.308,254.353 181.34,254.353   181.34,303.736 231.308,303.736 231.308,353.704 280.692,353.704 280.692,303.736 330.66,303.736 330.66,254.353 " />

                                        <polygon style="fill:#990011;" points="330.66,254.35 330.66,303.74 280.69,303.74 280.69,353.7 256,353.7 256,204.38   280.69,204.38 280.69,254.35 " />

                                        <path style="fill:#FFFFFF;" d="M326.062,133.393h-34.754v-20.639h-70.615v20.639h-34.754v-26.1c0-16.152,13.14-29.293,29.293-29.293  h81.538c16.152,0,29.293,13.141,29.293,29.293v26.1H326.062z" />

                                        <path style="fill:#C8C6CC;" d="M326.06,107.29v26.1h-34.75v-20.64H256V78h40.77C312.92,78,326.06,91.14,326.06,107.29z" />

                                        <g></g>
                                        <g></g>
                                        <g></g>
                                        <g></g>
                                        <g></g>
                                        <g></g>
                                        <g></g>
                                        <g></g>
                                        <g></g>
                                        <g></g>
                                        <g></g>
                                        <g></g>
                                        <g></g>
                                        <g></g>
                                        <g></g>
										</svg>
                                    </span> Triaje

                                </a>
                            </li>
                            <li>
                                <a id="a-btn1" href="/Usuario/Index">
                                    <span class="v-icon notranslate v-icon--svg theme--light" style="margin-right:30px;color: #1ae6e6 !important;
    caret-color: #f44336!important;">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="24" width="24" role="img" aria-hidden="true">
                                            <path d="M12,5.5A3.5,3.5 0 0,1 15.5,9A3.5,3.5 0 0,1 12,12.5A3.5,3.5 0 0,1 8.5,9A3.5,3.5 0 0,1 12,5.5M5,8C5.56,8 6.08,8.15 6.53,8.42C6.38,9.85 6.8,11.27 7.66,12.38C7.16,13.34 6.16,14 5,14A3,3 0 0,1 2,11A3,3 0 0,1 5,8M19,8A3,3 0 0,1 22,11A3,3 0 0,1 19,14C17.84,14 16.84,13.34 16.34,12.38C17.2,11.27 17.62,9.85 17.47,8.42C17.92,8.15 18.44,8 19,8M5.5,18.25C5.5,16.18 8.41,14.5 12,14.5C15.59,14.5 18.5,16.18 18.5,18.25V20H5.5V18.25M0,20V18.5C0,17.11 1.89,15.94 4.45,15.6C3.86,16.28 3.5,17.22 3.5,18.25V20H0M24,20H20.5V18.25C20.5,17.22 20.14,16.28 19.55,15.6C22.11,15.94 24,17.11 24,18.5V20Z"></path>
                                        </svg>
                                    </span> Usuario

                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="v-icon notranslate v-icon--svg theme--light" style="margin-right:30px;color: #00ff21 !important;
    caret-color: #f44336!important;">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="#000000" viewBox="0 0 30 30" width="30px" height="30px">
                                            <path d="M 22.5 1 C 20.205167 1 18.188218 2.199104 17.03125 4 L 6 4 C 4.895 4 4 4.895 4 6 L 4 24 C 4 24.178 4.0312187 24.346719 4.0742188 24.511719 L 17.060547 11.525391 C 17.367993 12.158787 17.711699 12.761454 18.064453 13.349609 L 16.414062 15 L 25.925781 24.511719 C 25.968781 24.346719 26 24.178 26 24 L 26 14.929688 C 26.150262 14.677052 26.302642 14.42312 26.457031 14.169922 C 27.649031 12.214922 29 10 29 7.5 C 29 3.916 26.084 1 22.5 1 z M 22.5 3 C 24.985 3 27 5.015 27 7.5 C 27 8.7647357 26.495722 10.009796 25.849609 11.222656 C 25.576646 11.734614 25.286561 12.243492 24.984375 12.742188 C 24.961257 12.780333 24.939145 12.819363 24.916016 12.857422 C 24.893877 12.893856 24.87369 12.928489 24.851562 12.964844 C 24.590882 13.393047 24.335344 13.816123 24.09375 14.232422 C 23.876765 14.606669 23.666653 14.980298 23.490234 15.34375 C 23.374003 15.582967 23.271776 15.818618 23.181641 16.052734 C 23.157929 16.114385 23.138795 16.175045 23.117188 16.236328 C 23.052253 16.420336 22.998792 16.602619 22.955078 16.783203 C 22.938216 16.852949 22.921558 16.922969 22.908203 16.992188 C 22.862715 17.227531 22.830078 17.460441 22.830078 17.689453 C 22.830078 17.858453 22.668 17.984375 22.5 17.984375 C 22.332 17.984375 22.193359 17.835969 22.193359 17.667969 C 22.19329 17.461781 22.168866 17.250683 22.130859 17.039062 C 22.118148 16.968099 22.096625 16.895774 22.080078 16.824219 C 22.049675 16.693133 22.016874 16.562701 21.974609 16.429688 C 21.943274 16.330799 21.908348 16.230784 21.871094 16.130859 C 21.825088 16.007743 21.774779 15.884405 21.720703 15.759766 C 21.678434 15.662152 21.636509 15.563366 21.589844 15.464844 C 21.553909 15.389111 21.512887 15.312583 21.474609 15.236328 C 21.345622 14.978958 21.197053 14.714234 21.046875 14.451172 C 20.892536 14.181183 20.735915 13.908328 20.568359 13.632812 C 20.29458 13.182251 20.019032 12.723499 19.742188 12.259766 C 19.303046 11.524378 18.885931 10.777542 18.570312 10.015625 C 18.568957 10.012356 18.567759 10.009129 18.566406 10.005859 C 18.482236 9.8023533 18.406399 9.5975813 18.337891 9.3925781 C 18.337491 9.3913808 18.33829 9.3898692 18.337891 9.3886719 C 18.271812 9.1906392 18.212422 8.992261 18.164062 8.7929688 C 18.144311 8.7103752 18.131588 8.627719 18.115234 8.5449219 C 18.089106 8.4148671 18.061947 8.2848149 18.044922 8.1542969 C 18.017173 7.9370607 18 7.7184005 18 7.5 C 18 7.2215179 18.033594 6.9520026 18.082031 6.6875 C 18.09127 6.6380794 18.098504 6.5878776 18.109375 6.5390625 C 18.159022 6.3115827 18.229868 6.0921001 18.3125 5.8789062 C 18.348354 5.788272 18.386206 5.6989549 18.427734 5.6113281 C 18.498742 5.458596 18.580907 5.3127754 18.667969 5.1699219 C 18.757403 5.025741 18.854338 4.8868318 18.958984 4.7539062 C 18.993687 4.7092353 19.03008 4.6663527 19.066406 4.6230469 C 19.253102 4.4030754 19.459169 4.1994142 19.683594 4.0175781 C 19.690412 4.0120539 19.696275 4.0054865 19.703125 4 C 20.473102 3.3837673 21.437248 3 22.5 3 z M 10.082031 6 C 11.140031 6 12.103078 6.4034531 12.830078 7.0644531 L 11.681641 8.2128906 C 11.250641 7.8438906 10.692031 7.6191406 10.082031 7.6191406 C 8.7220313 7.6191406 7.6210938 8.7200781 7.6210938 10.080078 C 7.6210938 11.439078 8.7220313 12.542969 10.082031 12.542969 C 11.223031 12.542969 12.014688 11.866875 12.304688 10.921875 L 10.082031 10.921875 L 10.082031 9.3613281 L 13.929688 9.3671875 C 14.263687 10.958187 13.506031 14.160156 10.082031 14.160156 C 7.8270312 14.160156 6 12.334078 6 10.080078 C 6 7.8260781 7.8270312 6 10.082031 6 z M 22.5 6 A 1.5 1.5 0 0 0 21 7.5 A 1.5 1.5 0 0 0 22.5 9 A 1.5 1.5 0 0 0 24 7.5 A 1.5 1.5 0 0 0 22.5 6 z M 15 16.414062 L 5.4882812 25.925781 C 5.6532813 25.968781 5.822 26 6 26 L 24 26 C 24.178 26 24.346719 25.968781 24.511719 25.925781 L 15 16.414062 z" />
                                        </svg>
                                    </span> Departamentos

                                </a>
                            </li>
                        }
                    }
                    else
                    {

                        <li class="active">
                            <a href="#">
                                <span class="v-icon notranslate v-icon--svg theme--light" style="margin-right:30px;">
                                    <svg viewBox="0 0 24 24" height="24" width="24" role="img" aria-hidden="true">
                                        <path d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z"></path>
                                    </svg>
                                </span> Home

                            </a>
                        </li>
                        <li>
                            <a id="a-btnMaps" href="/Maps/Index">
                                <span class="v-icon notranslate v-icon--svg theme--light" style="margin-right:30px;color: #f44336!important;
    caret-color: #f44336!important;">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="24" width="24" role="img" aria-hidden="true">
                                        <path d="M12,2C15.31,2 18,4.66 18,7.95C18,12.41 12,19 12,19C12,19 6,12.41 6,7.95C6,4.66 8.69,2 12,2M12,6A2,2 0 0,0 10,8A2,2 0 0,0 12,10A2,2 0 0,0 14,8A2,2 0 0,0 12,6M20,19C20,21.21 16.42,23 12,23C7.58,23 4,21.21 4,19C4,17.71 5.22,16.56 7.11,15.83L7.75,16.74C6.67,17.19 6,17.81 6,18.5C6,19.88 8.69,21 12,21C15.31,21 18,19.88 18,18.5C18,17.81 17.33,17.19 16.25,16.74L16.89,15.83C18.78,16.56 20,17.71 20,19Z"></path>
                                    </svg>
                                </span> Mapeo de Riesgo

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="v-icon notranslate v-icon--svg theme--light" style="margin-right:30px;color: #00ff21 !important;
    caret-color: #f44336!important;">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="#000000" viewBox="0 0 30 30" width="30px" height="30px">
                                        <path d="M 22.5 1 C 20.205167 1 18.188218 2.199104 17.03125 4 L 6 4 C 4.895 4 4 4.895 4 6 L 4 24 C 4 24.178 4.0312187 24.346719 4.0742188 24.511719 L 17.060547 11.525391 C 17.367993 12.158787 17.711699 12.761454 18.064453 13.349609 L 16.414062 15 L 25.925781 24.511719 C 25.968781 24.346719 26 24.178 26 24 L 26 14.929688 C 26.150262 14.677052 26.302642 14.42312 26.457031 14.169922 C 27.649031 12.214922 29 10 29 7.5 C 29 3.916 26.084 1 22.5 1 z M 22.5 3 C 24.985 3 27 5.015 27 7.5 C 27 8.7647357 26.495722 10.009796 25.849609 11.222656 C 25.576646 11.734614 25.286561 12.243492 24.984375 12.742188 C 24.961257 12.780333 24.939145 12.819363 24.916016 12.857422 C 24.893877 12.893856 24.87369 12.928489 24.851562 12.964844 C 24.590882 13.393047 24.335344 13.816123 24.09375 14.232422 C 23.876765 14.606669 23.666653 14.980298 23.490234 15.34375 C 23.374003 15.582967 23.271776 15.818618 23.181641 16.052734 C 23.157929 16.114385 23.138795 16.175045 23.117188 16.236328 C 23.052253 16.420336 22.998792 16.602619 22.955078 16.783203 C 22.938216 16.852949 22.921558 16.922969 22.908203 16.992188 C 22.862715 17.227531 22.830078 17.460441 22.830078 17.689453 C 22.830078 17.858453 22.668 17.984375 22.5 17.984375 C 22.332 17.984375 22.193359 17.835969 22.193359 17.667969 C 22.19329 17.461781 22.168866 17.250683 22.130859 17.039062 C 22.118148 16.968099 22.096625 16.895774 22.080078 16.824219 C 22.049675 16.693133 22.016874 16.562701 21.974609 16.429688 C 21.943274 16.330799 21.908348 16.230784 21.871094 16.130859 C 21.825088 16.007743 21.774779 15.884405 21.720703 15.759766 C 21.678434 15.662152 21.636509 15.563366 21.589844 15.464844 C 21.553909 15.389111 21.512887 15.312583 21.474609 15.236328 C 21.345622 14.978958 21.197053 14.714234 21.046875 14.451172 C 20.892536 14.181183 20.735915 13.908328 20.568359 13.632812 C 20.29458 13.182251 20.019032 12.723499 19.742188 12.259766 C 19.303046 11.524378 18.885931 10.777542 18.570312 10.015625 C 18.568957 10.012356 18.567759 10.009129 18.566406 10.005859 C 18.482236 9.8023533 18.406399 9.5975813 18.337891 9.3925781 C 18.337491 9.3913808 18.33829 9.3898692 18.337891 9.3886719 C 18.271812 9.1906392 18.212422 8.992261 18.164062 8.7929688 C 18.144311 8.7103752 18.131588 8.627719 18.115234 8.5449219 C 18.089106 8.4148671 18.061947 8.2848149 18.044922 8.1542969 C 18.017173 7.9370607 18 7.7184005 18 7.5 C 18 7.2215179 18.033594 6.9520026 18.082031 6.6875 C 18.09127 6.6380794 18.098504 6.5878776 18.109375 6.5390625 C 18.159022 6.3115827 18.229868 6.0921001 18.3125 5.8789062 C 18.348354 5.788272 18.386206 5.6989549 18.427734 5.6113281 C 18.498742 5.458596 18.580907 5.3127754 18.667969 5.1699219 C 18.757403 5.025741 18.854338 4.8868318 18.958984 4.7539062 C 18.993687 4.7092353 19.03008 4.6663527 19.066406 4.6230469 C 19.253102 4.4030754 19.459169 4.1994142 19.683594 4.0175781 C 19.690412 4.0120539 19.696275 4.0054865 19.703125 4 C 20.473102 3.3837673 21.437248 3 22.5 3 z M 10.082031 6 C 11.140031 6 12.103078 6.4034531 12.830078 7.0644531 L 11.681641 8.2128906 C 11.250641 7.8438906 10.692031 7.6191406 10.082031 7.6191406 C 8.7220313 7.6191406 7.6210938 8.7200781 7.6210938 10.080078 C 7.6210938 11.439078 8.7220313 12.542969 10.082031 12.542969 C 11.223031 12.542969 12.014688 11.866875 12.304688 10.921875 L 10.082031 10.921875 L 10.082031 9.3613281 L 13.929688 9.3671875 C 14.263687 10.958187 13.506031 14.160156 10.082031 14.160156 C 7.8270312 14.160156 6 12.334078 6 10.080078 C 6 7.8260781 7.8270312 6 10.082031 6 z M 22.5 6 A 1.5 1.5 0 0 0 21 7.5 A 1.5 1.5 0 0 0 22.5 9 A 1.5 1.5 0 0 0 24 7.5 A 1.5 1.5 0 0 0 22.5 6 z M 15 16.414062 L 5.4882812 25.925781 C 5.6532813 25.968781 5.822 26 6 26 L 24 26 C 24.178 26 24.346719 25.968781 24.511719 25.925781 L 15 16.414062 z" />
                                    </svg>
                                </span> Departamentos

                            </a>
                        </li>
                    }
                }
                else
                {

                    <li class="active">
                        <a href="#">
                            <span class="v-icon notranslate v-icon--svg theme--light" style="margin-right:30px;">
                                <svg viewBox="0 0 24 24" height="24" width="24" role="img" aria-hidden="true">
                                    <path d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z"></path>
                                </svg>
                            </span> Home

                        </a>
                    </li>
                    <li>
                        <a id="a-btnMaps" href="/Maps/Index">
                            <span class="v-icon notranslate v-icon--svg theme--light" style="margin-right:30px;color: #f44336!important;
    caret-color: #f44336!important;">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="24" width="24" role="img" aria-hidden="true">
                                    <path d="M12,2C15.31,2 18,4.66 18,7.95C18,12.41 12,19 12,19C12,19 6,12.41 6,7.95C6,4.66 8.69,2 12,2M12,6A2,2 0 0,0 10,8A2,2 0 0,0 12,10A2,2 0 0,0 14,8A2,2 0 0,0 12,6M20,19C20,21.21 16.42,23 12,23C7.58,23 4,21.21 4,19C4,17.71 5.22,16.56 7.11,15.83L7.75,16.74C6.67,17.19 6,17.81 6,18.5C6,19.88 8.69,21 12,21C15.31,21 18,19.88 18,18.5C18,17.81 17.33,17.19 16.25,16.74L16.89,15.83C18.78,16.56 20,17.71 20,19Z"></path>
                                </svg>
                            </span> Mapeo de Riesgo

                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="v-icon notranslate v-icon--svg theme--light" style="margin-right:30px;color: #00ff21 !important;
    caret-color: #f44336!important;">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="#000000" viewBox="0 0 30 30" width="30px" height="30px">
                                    <path d="M 22.5 1 C 20.205167 1 18.188218 2.199104 17.03125 4 L 6 4 C 4.895 4 4 4.895 4 6 L 4 24 C 4 24.178 4.0312187 24.346719 4.0742188 24.511719 L 17.060547 11.525391 C 17.367993 12.158787 17.711699 12.761454 18.064453 13.349609 L 16.414062 15 L 25.925781 24.511719 C 25.968781 24.346719 26 24.178 26 24 L 26 14.929688 C 26.150262 14.677052 26.302642 14.42312 26.457031 14.169922 C 27.649031 12.214922 29 10 29 7.5 C 29 3.916 26.084 1 22.5 1 z M 22.5 3 C 24.985 3 27 5.015 27 7.5 C 27 8.7647357 26.495722 10.009796 25.849609 11.222656 C 25.576646 11.734614 25.286561 12.243492 24.984375 12.742188 C 24.961257 12.780333 24.939145 12.819363 24.916016 12.857422 C 24.893877 12.893856 24.87369 12.928489 24.851562 12.964844 C 24.590882 13.393047 24.335344 13.816123 24.09375 14.232422 C 23.876765 14.606669 23.666653 14.980298 23.490234 15.34375 C 23.374003 15.582967 23.271776 15.818618 23.181641 16.052734 C 23.157929 16.114385 23.138795 16.175045 23.117188 16.236328 C 23.052253 16.420336 22.998792 16.602619 22.955078 16.783203 C 22.938216 16.852949 22.921558 16.922969 22.908203 16.992188 C 22.862715 17.227531 22.830078 17.460441 22.830078 17.689453 C 22.830078 17.858453 22.668 17.984375 22.5 17.984375 C 22.332 17.984375 22.193359 17.835969 22.193359 17.667969 C 22.19329 17.461781 22.168866 17.250683 22.130859 17.039062 C 22.118148 16.968099 22.096625 16.895774 22.080078 16.824219 C 22.049675 16.693133 22.016874 16.562701 21.974609 16.429688 C 21.943274 16.330799 21.908348 16.230784 21.871094 16.130859 C 21.825088 16.007743 21.774779 15.884405 21.720703 15.759766 C 21.678434 15.662152 21.636509 15.563366 21.589844 15.464844 C 21.553909 15.389111 21.512887 15.312583 21.474609 15.236328 C 21.345622 14.978958 21.197053 14.714234 21.046875 14.451172 C 20.892536 14.181183 20.735915 13.908328 20.568359 13.632812 C 20.29458 13.182251 20.019032 12.723499 19.742188 12.259766 C 19.303046 11.524378 18.885931 10.777542 18.570312 10.015625 C 18.568957 10.012356 18.567759 10.009129 18.566406 10.005859 C 18.482236 9.8023533 18.406399 9.5975813 18.337891 9.3925781 C 18.337491 9.3913808 18.33829 9.3898692 18.337891 9.3886719 C 18.271812 9.1906392 18.212422 8.992261 18.164062 8.7929688 C 18.144311 8.7103752 18.131588 8.627719 18.115234 8.5449219 C 18.089106 8.4148671 18.061947 8.2848149 18.044922 8.1542969 C 18.017173 7.9370607 18 7.7184005 18 7.5 C 18 7.2215179 18.033594 6.9520026 18.082031 6.6875 C 18.09127 6.6380794 18.098504 6.5878776 18.109375 6.5390625 C 18.159022 6.3115827 18.229868 6.0921001 18.3125 5.8789062 C 18.348354 5.788272 18.386206 5.6989549 18.427734 5.6113281 C 18.498742 5.458596 18.580907 5.3127754 18.667969 5.1699219 C 18.757403 5.025741 18.854338 4.8868318 18.958984 4.7539062 C 18.993687 4.7092353 19.03008 4.6663527 19.066406 4.6230469 C 19.253102 4.4030754 19.459169 4.1994142 19.683594 4.0175781 C 19.690412 4.0120539 19.696275 4.0054865 19.703125 4 C 20.473102 3.3837673 21.437248 3 22.5 3 z M 10.082031 6 C 11.140031 6 12.103078 6.4034531 12.830078 7.0644531 L 11.681641 8.2128906 C 11.250641 7.8438906 10.692031 7.6191406 10.082031 7.6191406 C 8.7220313 7.6191406 7.6210938 8.7200781 7.6210938 10.080078 C 7.6210938 11.439078 8.7220313 12.542969 10.082031 12.542969 C 11.223031 12.542969 12.014688 11.866875 12.304688 10.921875 L 10.082031 10.921875 L 10.082031 9.3613281 L 13.929688 9.3671875 C 14.263687 10.958187 13.506031 14.160156 10.082031 14.160156 C 7.8270312 14.160156 6 12.334078 6 10.080078 C 6 7.8260781 7.8270312 6 10.082031 6 z M 22.5 6 A 1.5 1.5 0 0 0 21 7.5 A 1.5 1.5 0 0 0 22.5 9 A 1.5 1.5 0 0 0 24 7.5 A 1.5 1.5 0 0 0 22.5 6 z M 15 16.414062 L 5.4882812 25.925781 C 5.6532813 25.968781 5.822 26 6 26 L 24 26 C 24.178 26 24.346719 25.968781 24.511719 25.925781 L 15 16.414062 z" />
                                </svg>
                            </span> Departamentos

                        </a>
                    </li>
                }



            </ul>
            <ul class="list-unstyled CTAs">
                @if (User.Identity.IsAuthenticated)

                {
                    if (Session["CuentaUsuario"] != null)
                    {
                        foreach (var user in (List
                            <CuentaUsuario>)Session["CuentaUsuario"])
                        {


                            <li>
                                <a href="/Acceso/Close" class="article">Close</a>
                            </li>
                        }
                    }
                    else
                    {

                        <li>
                            <a href="/Acceso/Login" class="article">Login</a>
                        </li>
                    }
                }
                else
                {

                    <li>
                        <a href="/Acceso/Login" class="article">Login</a>
                    </li>
                }

            </ul>
        </nav>
        <!-- Page Content Holder -->
        <div id="content" class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <div style="        float: left
">
                            <button style="background-color:#fa503f" type="button" id="sidebarCollapse" class="navbar-btn">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                        <div style="        float: right;
        padding-left: 2rem;">
                            <h2 style="margin-top:10px;color:white">Covid 19</h2>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            @if (User.Identity.IsAuthenticated)

                            {
                                if (Session["CuentaUsuario"] != null)
                                {
                                    foreach (var user in (List
                                            <CuentaUsuario>)Session["CuentaUsuario"])
                                    {



                                        <li class="" style="margin-right:2rem;margin-left:2rem;">
                                            <a style="text-transform:capitalize;"
                                               href="#" id="user">
                                                <span style="text-transform:capitalize;margin-right:.5rem">
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                         xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="14px" height="14px" viewBox="0 0 28.055 28.055" style="enable-background:new 0 0 14 14;" xml:space="preserve">
                                                    <g>
                                                    <path fill="#d9a4fc" d="M14.249,1.027c-0.036,0-0.07,0.009-0.104,0.009c-0.106-0.003-0.211-0.01-0.318-0.009H14.249z M14.085,17.301   c-0.019,0-0.036-0.003-0.055-0.003c-0.014,0-0.027,0.003-0.041,0.003H14.085z M8.137,11.313c0.015-0.003,0.026-0.019,0.042-0.023   c0.941,3.405,3.377,5.953,5.852,6.007c2.254-0.104,5.022-2.606,5.944-5.994c0.424,0.026,0.848-0.474,0.967-1.17   c0.123-0.726-0.135-1.374-0.572-1.449c-0.028-0.005-0.057,0.013-0.084,0.014c-0.127-5.603-2.789-7.579-6.141-7.664   C10.688,1.051,7.593,3.453,7.789,8.7c-0.033,0-0.064-0.021-0.096-0.015C7.254,8.76,6.998,9.408,7.121,10.134   C7.241,10.858,7.697,11.386,8.137,11.313z M18.688,18.27l-3.141,6.146l-0.496-3.997l0.775-0.636h-1.878h-1.717l0.776,0.636   l-0.497,3.997L9.373,18.27C3.917,19.005,0,21.343,0,27.027h28.055C28.057,21.342,24.141,19.006,18.688,18.27z" />

																</g>
															</svg>
                                                </span>@user.Usuarios.Nombres

                                            </a>
                                        </li>
                                    }

                                    <li>
                                        <a style="background-color:transparent !important" class="cart-icon cart-btn" onclik
                                           href="@Url.Action("Close", "Acceso")">
                                            <span class="hidden-mobile">
                                                <svg xmlns="http://www.w3.org/2000/svg" height="14pt" viewBox="0 0 512 512" width="14pt">
                                                    <path d="m416 512h-320c-53.023438 0-96-42.976562-96-96v-320c0-53.023438 42.976562-96 96-96h320c53.023438 0 96 42.976562 96 96v320c0 53.023438-42.976562 96-96 96zm0 0" fill="#fff" />
                                                    <path d="m288 202.671875c-5.886719 0-10.671875-4.769531-10.671875-10.671875v-32c0-5.886719-4.785156-10.671875-10.671875-10.671875h-114.65625c-5.886719 0-10.671875-4.769531-10.671875-10.671875s4.769531-10.65625 10.671875-10.65625h114.671875c17.648437 0 32 14.351562 32 32v32c0 5.886719-4.769531 10.671875-10.671875 10.671875zm0 0" fill="#d9a4fc" />
                                                    <path d="m266.671875 352h-37.328125c-5.886719 0-10.671875-4.769531-10.671875-10.671875 0-5.886719 4.769531-10.671875 10.671875-10.671875h37.328125c5.886719 0 10.671875-4.785156 10.671875-10.671875v-42.671875c0-5.886719 4.769531-10.671875 10.671875-10.671875 5.886719 0 10.671875 4.765625 10.671875 10.671875v42.6875c-.015625 17.648438-14.367188 32-32.015625 32zm0 0" fill="#d9a4fc" />
                                                    <g fill="#be63f9">
                                                        <path d="m220.128906 150.367188-64.175781-21.375c-2.144531-.671876-4.320313-.992188-6.625-.992188-11.761719 0-21.328125 9.566406-21.328125 21.328125v192c0 9.085937 5.792969 17.230469 14.527344 20.289063l64.242187 21.40625c2.191407.671874 4.335938.976562 6.558594.976562 11.761719 0 21.328125-9.566406 21.328125-21.328125v-192c.015625-9.121094-5.792969-17.265625-14.527344-20.304687zm0 0" />
                                                        <path d="m326.574219 287.183594c-3.980469-1.648438-6.574219-5.535156-6.574219-9.855469v-32h-42.671875c-5.886719 0-10.671875-4.785156-10.671875-10.671875s4.785156-10.65625 10.671875-10.65625h42.671875v-32c0-4.320312 2.59375-8.207031 6.574219-9.855469 3.984375-1.648437 8.578125-.738281 11.632812 2.320313l42.671875 42.671875c4.160156 4.160156 4.160156 10.910156 0 15.085937l-42.671875 42.671875c-3.054687 3.027344-7.632812 3.9375-11.632812 2.289063zm0 0" />
                                                    </g>
                                                </svg>
                                            </span>
                                        </a>
                                    </li>
                                }
                                else
                                {


                                    <li>
                                        <a style="background-color:transparent !important;text-align:center" class="cart-icon cart-btn" onclik
                                           href="@Url.Action("Login", "Acceso")">
                                            <span class="hidden-mobile">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="14pt" height="14pt">
                                                <rect x="252.902" y="48.099" style="fill:#415E72;" width="138.747" height="412.545" />

                                                <polygon style="fill:#CFDCE5;" points="252.39,485.439 397.281,485.439 419.482,485.439 419.482,463.237 419.482,48.762   419.482,26.561 397.281,26.561 252.39,26.561 252.39,70.963 375.08,70.963 375.08,441.037 252.39,441.037 " />

                                                <polygon style="fill:#BAC6CC;" points="275.376,512 92.519,475.429 92.519,48.762 275.376,0 " />

                                                <polygon style="fill:#415E72;" points="240.711,286.194 193.573,282.867 193.573,267.009 240.711,263.681 " />

															</svg>
                                            </span>
                                            <span style="display:none"></span>
                                        </a>
                                    </li>
                                }



                            }
                            else
                            {

                                <li>
                                    <a style="background-color:transparent !important;text-align:center" class="cart-icon cart-btn" onclik
                                       href="@Url.Action("Login", "Acceso")">
                                        <span class="hidden-mobile">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="14pt" height="14pt">
                                            <rect x="252.902" y="48.099" style="fill:#415E72;" width="138.747" height="412.545" />

                                            <polygon style="fill:#CFDCE5;" points="252.39,485.439 397.281,485.439 419.482,485.439 419.482,463.237 419.482,48.762   419.482,26.561 397.281,26.561 252.39,26.561 252.39,70.963 375.08,70.963 375.08,441.037 252.39,441.037 " />

                                            <polygon style="fill:#BAC6CC;" points="275.376,512 92.519,475.429 92.519,48.762 275.376,0 " />

                                            <polygon style="fill:#415E72;" points="240.711,286.194 193.573,282.867 193.573,267.009 240.711,263.681 " />

															</svg>
                                        </span>
                                        <span style="display:none"></span>
                                    </a>
                                </li>
                            }



                        </ul>
                    </div>
                </div>
            </nav>


            @RenderBody()

            <footer class="footer" style="">
                <p style="text-align: center;
                         padding-top: 5px;
                          font-size: 20px">
                    <span style="color: white">#EsteVirus</span> Lo paramos todos
                </p>
            </footer>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
                $('.footer').toggleClass('active');


            });

          
            
            $(function () {
                $("#a-btnTriaje").on("click", function (e) {
                    e.preventDefault();
                    var url = $(this).attr("href");
                    $.get(url).done(function (result) {
                        $("body").html(result);
                        $('#sidebar').addClass('active');
                    });

                });
            });
            $(function () {
                $("#a-btnMaps").on("click", function (e) {
                    e.preventDefault();
                    var url = $(this).attr("href");
                    $.get(url).done(function (result) {
                        $("body").html(result);
                        $('#sidebar').addClass('active');
                    });

                });
            });
        });


    </script>
</body>
</html>
